
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: 
       url('../fonts/raleway-v27-latin_cyrillic-regular.woff2') format('woff2'), 
       url('../fonts/raleway-v27-latin_cyrillic-regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src:
       url('../fonts/raleway-v27-latin_cyrillic-500.woff2') format('woff2'), 
       url('../fonts/raleway-v27-latin_cyrillic-500.woff') format('woff'); 
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: 
       url('../fonts/raleway-v27-latin_cyrillic-600.woff2') format('woff2'), 
       url('../fonts/raleway-v27-latin_cyrillic-600.woff') format('woff'); 
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src:
       url('../fonts/raleway-v27-latin_cyrillic-700.woff2') format('woff2'),
       url('../fonts/raleway-v27-latin_cyrillic-700.woff') format('woff'); 
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: 
       url('../fonts/raleway-v27-latin_cyrillic-800.woff2') format('woff2'),
       url('../fonts/raleway-v27-latin_cyrillic-800.woff') format('woff'); 
}


@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: 
       url('../fonts/abril-fatface-v19-latin-regular.woff2') format('woff2'), 
       url('../fonts/abril-fatface-v19-latin-regular.woff') format('woff'); 
}



@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: 
       url('../fonts/josefin-sans-v24-latin-regular.woff2') format('woff2'),
       url('../fonts/josefin-sans-v24-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src:
       url('../fonts/josefin-sans-v24-latin-600.woff2') format('woff2'), 
       url('../fonts/josefin-sans-v24-latin-600.woff') format('woff'); 
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: 
       url('../fonts/josefin-sans-v24-latin-700.woff2') format('woff2'),
       url('../fonts/josefin-sans-v24-latin-700.woff') format('woff');
}