.statistic{
  padding: 80px 0 101px;
}

.statistic__list{
  width: 1236px;
  display: flex;
  justify-content: space-between;
}

.statistic__text{
  font-weight: 700;
  font-size: 120px;
  line-height: 141px;
  text-align: center;
  color: #01384D;
  margin: 0;
  margin-bottom: 10px;
}

.statistic__subtext{
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #01384D;
}


@media screen and (max-width: 520px) {

  .statistic{
    padding: 50px 0 90px;
  }

  .statistic__list{
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
  }

  .statistic__item{
    width: 50%;
  }



  .statistic__text{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    color: #01384D;
  }

  .statistic__subtext{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #01384D;
  }
}